
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:absolute;
width:100%;
z-index:100;
}

.logo{
font-size:30px;
font-family:'Playfair Display',serif;
color:#D4AF37;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
color:white;
text-decoration:none;
transition:.3s;
}

nav ul li a:hover{
color:#D4AF37;
}

.btn{
padding:12px 28px;
background:#D4AF37;
color:#111;
text-decoration:none;
border-radius:50px;
font-weight:600;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    padding:0 8%;
    position:relative;
}
display:flex;
align-items:center;
padding-left:8%;
position:relative;
}

.hero::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.65);
}

.content{
position:relative;
max-width:650px;
}

.content h1{
    font-size:clamp(48px,8vw,90px);
    font-family:'Playfair Display',serif;
    line-height:1.1;
    margin-bottom:20px;
}

.content p{
font-size:20px;
margin-bottom:35px;
/* ABOUT SECTION */

.about{
    background:#111;
    color:white;
    padding:80px 10%;
}

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    flex-wrap:wrap;
}

.about-image img{
    width:500px;
    max-width:100%;
    border-radius:15px;
}

.about-text{
    flex:1;
}

.about-text h2{
    color:#d4af37;
    font-size:42px;
    margin-bottom:20px;
}

.about-text p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:20px;
}

.about-text .btn{
    display:inline-block;
    background:#d4af37;
    color:black;
    padding:12px 30px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.about-text .btn:hover{
    background:white;
}
.featured{
    padding:80px 8%;
    background:#0d0d0d;
    color:#fff;
}

.section-title{
    text-align:center;
    font-size:42px;
    color:#d4af37;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:#181818;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card h3{
    color:#d4af37;
    padding:20px;
}

.card p{
    padding:0 20px 20px;
}

.card:hover{
    transform:translateY(-10px);
}
